{
    acme_ca https://acme.zerossl.com/v2/DV90
}

{$CHAT_DOMAIN} {
    @control path /_lanchat/* /api/* /healthz
    handle @control {
        reverse_proxy control:8080
    }
    handle {
        reverse_proxy synapse:8008
    }
}

{$ADMIN_DOMAIN} {
    reverse_proxy control:8080
}
